<p>
	 <strong>Marks: </strong> <%= @result.marks %><br /> 
	 <strong>StudentID: </strong> <%= @result.student_id %><br /> 
	 <strong>ExamID: </strong> <%= @result.exam_id %><br /> 	 
   <strong>Created Date:</strong> <%= @result.created_at %><br />
</p>
<hr />

<%= link_to 'Back', {:action => 'index'} %>